@font-face {
     
    font-family: 'Roboto';
    src: url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}



.main-container {
    width: 550px;
}

a {
    color: #d3ae34;
}

a:visited {
    color: #93781f;
}

.header {
    margin: 10px 0px;
    height: 100px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo-container {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.header__logo {
    width: 347px;
    height: 100px;
}

.header__contacts * {
    font-size: 20px;
    display: block;
    color: #83cba8;
}

.header__tel {
    color: #000;
}

.content__image {
    width: 100%;
    padding: 5px 0px;
}

.info {
    font-weight: 500;
    color: #555;
}

.info__header {
    font-size: 20px;
}

.info__content {
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

li {
    padding: 3px 0px;
}

.info__image {
    width: 183px;
}

.info__sale {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    padding: 16px 0px;
    color: #65ca99;
}

.info__study {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    padding: 16px 0px;
    color: #555;
}

.bio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bio__name {
    font-size: 24px;
}

.bio__cont {
    color: #0068a5;
    font-weight: 700;
}


.bio__skills {
    display: flex;
    align-items: start;
}

.bio__skills-img {
    padding-top: 15px;
    width: 183px;
}

.bio__j {
   font-weight: 700;
}

.bio__myskills { 
    padding: 15px 10px;
    color: #555;
    font-size: 18x;
    display: flex;
    flex-direction: column;
}

.bio__myskills * {
    line-height: 27px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons * {
    
    text-align: center;
    border-radius: 5px;
}

.buttons * * {
    background-color: #1e81a9;
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 14px 30px;
    text-decoration: none;
}


.buttons * *:visited {
    color: #fff;
    background-color: #d3ae34;
}

.footer {
    font-size: 14px;
    background-color: #1e81a9;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-self: stretch;
    text-align: center;
}

.footer {
    padding: 15px 10px;
}

.underfooter {
    padding: 15px 0px;
    font-size: 13px;
    color: #555;
    text-align: center;
}

body {
    font-family: Roboto;
    display: flex;
    align-items: center;
    flex-direction: column;
}